#right {
    max-width: 320px;
    margin: 0 auto;
    float: right;
    position: sticky;
    width: 25%;
}

#right .warenkorb {
    position: sticky;
    position: -webkit-sticky;
    display: block;
    right: 0%;
    top: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}


@media only screen and (max-width: 960px) {
    #right .warenkorb {
        float: none;
        height: 10rem;
    }
}