body {
    background-color: ivory;
    margin: 0;
}

#logo {
    height: 5rem;
    padding: 1rem;
}

.header {
    background-color: rgb(114, 114, 114);
    overflow: hidden;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.header a.active {
    background-color: rgb(88, 88, 88);
    color: white;
}

.header a:hover {
    background-color: rgb(197, 197, 197);
    color: black;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    width: 50%;
    height: auto;
}

.header-right {
    float: right;
    padding: 1rem;
    padding-top: 1.5rem;
}

@media only screen and (max-width: 960px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    body{
    }
    #logo{
        height: 3rem;
    }
}
