body {
    background-color: ivory;
}

#logo {
    height: 5rem;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: white;
    overflow: hidden;
    padding: 2rem 1rem;
    position: fixed;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem; 
    line-height: 2rem;
    border-radius: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.header a.active {
    background-color: rgb(88, 88, 88);
    color: white;
}

.header a:hover {
    background-color: rgb(197, 197, 197);
    color: black;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    width: 50%;
    height: auto;
}

.header-right {
    float: right;
}

@media only screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
      color: red;
    }
    .header-right {
      float: none;
    }
    body{
        background-color: greenyellow;
    }
}